<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title></title>
    {% endif %}
    <link href="/static/bootstrap3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/kvant.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div id="wrapper">
 {% block content %}
 {% endblock    %}
  </div>
  <!--script src="/static/js/arireg.js"></script-->
  </body>
</html>
