{% extends "base.html" %}
{% block content %}
<div id="header">
<h1>{{title}}</h1>
</div>
<div id="universe">
</div>
<div id="sidebar">
{% for shp in ships %}
    {{ shp.name }}
    {{ shp.body.coordX }}
    {{ shp.body.coordY }}
    {% if shp.faction %} {{ shp.faction.name }}
    {{ shp.faction.race }}
    {% endif %}
{% endfor %}
</div>
<div id="menu">
    <div class="buttonholder">
    <a href="javascript:displayStars()" class="btn btn-success"><i class="icon-white icon-edit"></i>Tähed</a>
    <a href="javascript:displayPlanets()" class="btn btn-success"><i class="icon-white icon-edit"></i>Planeedid</a>
    <a href="javascript:displayShips();" class="btn btn-success"><i class="icon-white icon-edit"></i>Laevad</a>
    <a href="#" class="btn btn-success"><i class="icon-white icon-edit"></i>Ohvitserid</a>
    <a href="#" class="btn btn-primary">Menüü</a>
    </div>
</div>
<div id="list">
<noscript><div style="position: fixed; top: 0px; left: 0px; z-index: 3000;
                height: 100%; width: 100%; background-color: #FFFFFF">
        <p style="margin-left: 10px">Hoiatus! Lehekülg vajab toimimiseks Javascripti tuge!</p>
    </div>
</noscript>
</div>
<script src="/static/js/kvant.js"></script>
{% endblock %}
