{% extends "base.html" %}
{% block content %}
<div id="header">
<h1>{{title}}</h1>
</div>
<div id="universe">
</div>
<div id="sidebar">
{% for shp in ships %}
    {{ shp.name }}
    {{ shp.body.coordX }}
    {{ shp.body.coordY }}
    {% if shp.faction %} {{ shp.faction.name }}
    {{ shp.faction.race }}
    {% endif %}
{% endfor %}
</div>
<div id="menu">
    <div class="buttonholder">
    <a href="#" class="btn btn-success"><i class="icon-white icon-edit"></i>Tähed</a>
    <a href="#" class="btn btn-success"><i class="icon-white icon-edit"></i>Planeedid</a>
    <a href="#" class="btn btn-success"><i class="icon-white icon-edit"></i>Laevad</a>
    <a href="#" class="btn btn-success"><i class="icon-white icon-edit"></i>Ohvitserid</a>
    <a href="#" class="btn btn-primary">Menüü</a>
    </div>
</div>
<div id="list">
<noscript>Hoiatus! Lehekülg vajab toimimiseks Javascripti tuge!</noscript>
</div>
<script src="/static/js/kvant.js"></script>
{% endblock %}
